* {
  box-sizing: border-box;
}

body {
  background: #161d20;
}

.MainApp {
  color: #a4a29e;
  margin: auto;

  display: flex;
  flex-direction: column;

  max-width: 800px;
  height: 100%;

  label {
    margin: 1.5em 0 .75em 0;
  }

}